* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #e5e5e5;
}

main {
    width: 100%;
}

/* Título */

.banner_principal {
    display: flex;
    justify-items: center;
    gap: 10%;

}

.introdução {
    margin-left: 340px;
    margin-top: 125px;
}

.principal {
    width: 488px;
    height: 216px;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}

.corpo {
    width: 360px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #555555;
}

.botao_titulo_1 {
    width: 268px;
    height: 51px;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    cursor: pointer;
    color: #FF4081;
    background-color: #e5e5e5;
}

.botao_titulo_1:hover {
    color: #ff1664;
    border: 2px solid #ff1664;
    font-weight: 500;
    transition: 300ms;

}

.ilustra-banner {
    width: 501px;
    height: 511px;
    margin-top: 135px;
    margin-bottom: 70px;
}

/*segunda parte dos banner's*/

.container_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #e5e5e5;
}

.titulo {
    width: 344px;
    height: 29px;
    margin-top: 45px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #FF4081;
}

.titulo2 {
    width: 293px;
    height: 60px;
    margin-left: 25px;
    margin-top: 25px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}

.imagens {
    margin-top: 110px;
}


.botao {
    width: 233px;
    height: 51px;
    margin-top: 40px;
    margin-bottom: 130px;
    border: none;
    background: #FF4081;
    border-radius: 62px;
    border: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
    color: #FFFFFF;
}

.botao:hover {
    color: #ffffff;
    border: 2px solid #ff1664;
    font-weight: 500;
    transition: 300ms;
}

.conteudo {
    padding-top: 90px;
    padding-left: 150px;
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 37px;
    line-height: 43px;
    color: #009688;
}



/*container_3*/

span {
    background-color: #e5e5e5;
}

.declaração {
    background-color: #e5e5e5;
    width: 100%;
}

.container_3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    padding-right: 10%;
    margin-bottom: 90px;
}

.icones, .icones_a, .icones_b {
    background-color: #e5e5e5;
}

.t1 {
    width: 450px;
    height: 70px;
    padding-left: 40px;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    background-color: #e5e5e5;
}

.t2 {
    width: 450px;
    height: 70px;
    padding-left: 40px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    background-color: #e5e5e5;
}

span {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.container_4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    padding-right: 10%;
    margin-bottom: 150px;
    background-color: #F7F7F7
}

.t3 {
    width: 450px;
    height: 70px;
    padding-left: 40px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    background-color: #e5e5e5;
}

.t4 {
    width: 450px;
    height: 70px;
    padding-left: 40px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    background-color: #e5e5e5;
}

.container_5 {
    display: flex;
    flex-direction: row;
    height: 730px;
    left: 0px;
    top: 2260px;

    background-color: #F7F7F7
}

.pg2 {
    width: 128px;
    height: 23.42px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #000000;

}

.pg3 {

    width: 363px;
    height: 73.65px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}

.pg4 {
    width: 363px;
    height: 71.62px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}

/*penúltimo container*/

.bloco {
    background: #F7F7F7;
}

.titulo_flex {
    font-weight: 700;
    font-size: 37px;
    color: #009688;
    padding: 70px;
    padding-left: 150px;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 35px;
    margin-bottom: 100px;
}

.container_retangulos {
    justify-content: center;
}

.retangulos {
    margin-bottom: 10px;
    margin-left: 130px;
    margin-right: 110px;
    margin: 2px solid black;
    width: 319px;
    height: 193px;
    background: #C4C4C4;
}

.destacar1 {
    height: 114px;
    width: 319px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: justify;
    margin-left: 130px;

}

.destacar2 {
    height: 114px;
    width: 319px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: justify;
    margin-left: 130px;
}

.destacar3 {
    height: 114px;
    width: 319px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: justify;
    margin-left: 130px;

}

.flex span {
    font-size: 27px;
    font-weight: 700;
    line-height: 31px;
    color: #009688
}

.botao_centro {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}


.botao_text {
    width: 290px;
    height: 50px;
    border-radius: 62px;
    border: 2px solid #FF4081;
    outline: none;
    background-color: #fff;
    color: #FF4081;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    cursor: pointer;
}

.botao_text:hover {
    color: #ffffff;
    background-color: #FF4081;
    border: 2px solid #ff1664;
    font-weight: 500;
    transition: 200ms;
}

.bloco {
    background-color: #e5e5e5;
}

